// 主题色（深色）
$darkPrimaryColor: #f6b44c;
$themeColor: #fef188;

// 主题色（浅色）
$primaryColor: #2196F3;

// 文本颜色
$primaryText: #212121;

// 二级文本颜色
$secondaryText: #757575;

// 分隔符颜色
$divideText: #BDBDBD;

// 金额支出颜色
$expendColor: green;

// 金额收入颜色
$incomeColor: red;

// 边框颜色
$borderColor: #f4f4f4;

// 背景色
$backgroundColor: #f4f4f4;

// 分隔符背景色
$secondaryBackgroundColor: #f1f1f1;

$iconGrey: #bcbcbc;

$linkColor: #537c8d;

@function toRpx($number) {
  @return $number * 2;
}


.choose_character {
	margin: 50px auto;
	> .column {
	  line-height: 60px;
	  padding:0 44px;
	  margin-bottom: 0px;
	  border-bottom: 0px solid #00efef;
	  font-size: 28px;
	  //background:red;  
	  display: flex;
	  justify-content: center;
	  > text {
		min-width:100px;  
	  }
	} 
	 > .aimg {
	  width: 100%;
	  height: 5px;
	  margin-top: -2px;
	  //border: 1px solid black;
	  //background-color:transparent;
	  margin-right: 1em;
	  display:flex;                    //flex布局
	  justify-content: center;         //水平轴线居中
	  > image {
		width: 40%;
	  }
	 }
  }