@import './_variable.scss';
page, .container{
  height: 100%;

  .systemprompt {
    width: 100%; 
    background: #fefced;
    font-size: 30px;
    height: 80px;
    line-height: 80px;
    font-weight: lighter;
   
    display: inline-block;
    vertical-align: top;


 
    > text {
      color: #e7713a;
    }
    .copy {
      font-weight: bold; 
      float: right;
    }
  }
}
.container {
  > view {
    width: 100%;
    display: block;
  }
}

.dotline {
  width: 100%; 
  //background: #ff00ff;
  padding-bottom: 20px;
  display: flex;
  justify-content: left;
  > img {
    //background: #4ebe0d;
    padding:0px 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  
}

.header {
	//position:relative;
	color: $primaryText;
  //background: #ff00ff;
  .level-1 {
    margin-top: 10px;
    height: 100px;
    line-height: 100px;
    font-size:34px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    // border-bottom: 1px solid #efefef;
  }
  
  .userinfo {
    width: 100%;
    //padding:18px 0;
    margin-top: 20px;
    margin-bottom: 50px;
    color: $primaryText;
    display: flex;
    align-items: center;
    .icon {
      margin-left: 40px;
      align-items: center;
      background-image: url('https://assets.storiesmatter.cn/avatarbg.png');
      background-size: contain;
      background-position-y: center;
      background-repeat: no-repeat;
      width: 160px;
      height: 160px;
      line-height: 160px;
      display: flex;
      align-items: center;
      justify-content: center;
      > img {
        width: 120px;
        height: 120px;
      }
    }
    .home-st-title {
      margin-right: 40px; 
      width: 70%;
      align-items: center;
      background-image: url('https://assets.storiesmatter.cn/profile-right-bg.png');
      background-size: 100% 160px;
      background-position-y: center;
      background-repeat: no-repeat;
      height: 160px;
      line-height: 160px;
      > view { 
        margin-left:  85px;
        height: 40px;
        line-height: 40px;
        display: flex;
        justify-content: left;
      }
      .first-line {
        width: 50%;
        margin-top: 30px;
        font-size: 32px;
      }
      .time { 
        font-size: 32px;
      }
    }
  }

  .top-btns {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 15px;    
    > .column1 {
      padding-left: 40px;
      padding-right: 40px;
      height: 80px;
      line-height: 80px;
      font-size: 32px;
      display: flex;
      justify-content: space-between;
      > .btns {
        height: 80px;
        line-height: 80px;
        padding:0px 42px;
        background-image: url('https://assets.storiesmatter.cn/btn.png');
        background-size: contain;
        background-position-y: center;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        justify-content: center;
        > img {
          width: 36px;
          height: 36px;
        }
        > text {
          padding-left: 15px;
          padding-right: 15px;
        }
      }
    }
  }
}

.searchcell {
  border-bottom: 0px solid #efefef;
  > .recordcell {
    display: flex;
    align-items: center;
    height: 60px;
    line-height: 60px;
    padding:0px 40px;
    font-size:32px;
    > .subtitle {
      font-size:27px;
      position: absolute;
      right: 40px;
    }
  }
  .searchbar {  
    margin-top:10px;
    align-items: center; 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
   
    .search-btn {  
      background-image: url('https://assets.storiesmatter.cn/btn.png');
      background-size: contain;
      background-position-y: center;
      background-repeat: no-repeat;
      margin-right: 40px;
      height: 80px;
      line-height: 80px;
      padding:0px 42px;
      width: 20%;  
      > text { 
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 15px;
        padding-right: 15px;
        white-space: nowrap;
      }
    }

    .search {
      width: 70%;  
      margin-left: 40px;
      background-image: url('https://assets.storiesmatter.cn/searchbar-bg.png');
      background-size: contain;
      background-position-y: center;
      background-repeat: no-repeat;
      height: 60px;
      line-height: 60px;
    }
      /* 搜索框提示文字样式 */
    *:focus {
      outline: none;
    }

  }
  
  > .paycell {
    background: transparent;
    height: 120px;
    line-height: 120px;
    font-size: 32px;  
    display: inline;
    vertical-align: top; 
    zoom: 1;
    .paycell-title {
      float: left;
      display: inline;
      vertical-align: top;
      margin-left: 40px;
      > text { 
        margin-top: 5px;
        float: left;
      }
      > img {
        width: 40px;
        height: 40px;
      }
    }

     .topup {
      float: right;
      color: white;
      height: 80px;
      line-height: 80px;
      padding:0px 50px;
      margin-right: 40px;
      margin-top: 26px;
      display: flex;
      align-items: center;
      background-image: url('https://assets.storiesmatter.cn/pay-green-bg.png');
      background-size: contain;
      background-position-y: center;
      background-repeat: no-repeat;
      > img {
        width: 40px;
        height: 40px;
      }
      > text {
         padding-left: 10px;
      }
    }
  }
}

.search-longline {
  padding-left: 40px;
  padding-right: 40px; 
  margin-right: 40px;
  > img {
    width: 92%;    
  }
}

.longline {
  padding-left: 40px;
  padding-right: 40px; 
  > img {
    width: 90%;
  }
}

.fragment-content {
	position:relative;
  .fragment-title {
    height: 120px;
    line-height: 120px;
    font-size:32px;
    display: flex;
    justify-content: center;
  }

    //容器
  .container-box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 40px;
  }

    
  //项目成员  
  .item-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1% 0.1%;
    width: 49.8%;
    height: 90px;
    background-image:url("https://assets.storiesmatter.cn/frag-bg-new.png");
    background-size: contain;
    background-position-y: center;
    background-position-x: center;
    background-repeat: no-repeat;
    
    font-size: 32px;
  } 

  .discovered {
    background-image:url("https://assets.storiesmatter.cn/frag-discv-bg.png");
  }
}

/* 授权 开启故意事务所*/
.authorise {
  position: fixed;
  top: 0px;
  bottom:0px;
  left:0px;
  text-align: center;
  background: rgba(1, 1, 1, 0.5);
  z-index: 10;
  img {
    width:400px;
    height:500px;
   margin: 20px;
  }
  button {
    font-size: 32px;
   width:70%;
   top: 10px;
   bottom: 100px;
   background: #4fae71;
   color: white;
  }
  .authorise-bottom {
    position: fixed;
    width: 100%;
    bottom:0px;
    height:700px;
    background: white;
  }
}

.home-version{
  left: 50%;
  bottom: 20px;
  margin: 0 auto;
  > p {
    color: #000;
	  font-size: 20px;
    text-align: center;
  }
}
