@import './_variable.scss';
page, .container{
  height: 100%;
}
.container {
  > view {
    width: 100%;
    display: block;
    background-color:transparent;
  }

  .userinfobtns {
    padding:0px 0px;
    width: 90%;
    margin: 0 auto;
    height: 120px;
    line-height: 120px;
    > .column {
      height: 120px;
      line-height: 120px;
      //border-top: 1px solid #efefef;
      border-bottom: 1px solid #efefef;
      font-size: 28px;
      background: white;
      display: flex;
      align-items: center;
      justify-content: space-between;
      > .btn {
        max-height: 80px;
        height: 80px;
        line-height: 80px;
        padding:0px 20px;
        background-image: url('https://assets.storiesmatter.cn/btn.png');
        background-size: 100% 80px;
        background-position-y: center;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        justify-content: center;
        
        > image {
          width: 36px;
          height: 36px;
        }
        > text {
          max-height: 80px;
          height: 80px;
          //padding: 0px 20px;
          //background: #efef00;
          min-width: 120px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
  .fragment-img {
    width: 100%;
    // background-color: red;
    > text {
      font-size: 24px;
      float: right;
      margin: 20px;
      min-width: 220px;
    }
  }
  .message {
    display: flex;
    margin: 0 auto;
    font-size: 28px;
    padding: 40px;
  }
}
.playBtn{
  width: 120px;
  height: 120px;
  display: flex;
  margin: 0 auto;
}
.sliderCont{
  width: 100%;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  padding: 80px 0px 0px 0px;
  color:$primaryText;
  font-size: 12px;
  display: inline-block;
  > .aaudio {
    width: 93%;
    height: 120px;
    display: flex;
    margin: 0 auto;
  }

  .time {
    //padding:0px 0px;
    //width: 90%;
    margin: 0 auto;
    height: 20px;
    line-height: 20px;
    > .column {
      height: 20px;
      line-height: 20px;
      //border-bottom: 1px solid #efefef;
      font-size: 32px;
      //background: gray;
      display: flex;
      justify-content: space-between;
      > .btn {
        height: 80px;
        line-height: 80px;
        padding:0px 22px;
        display: flex;
        align-items: center;
        justify-content: center;
        > image {
          width: 36px;
          height: 36px;
        }
        > text {
          padding-left: 10px;
        }
      }
    }
  }

  
}
.sliderCont text{
    z-index: 99;
}
slider{
  // display: flex;
  margin: 0 auto;
  width: 82%;
  //background-color: #ff00ff;
  //width: 100%;
}

/* pages/course/nowPlay/nowPlay.wxss */

.container1{
  width: 100%;
  height: 100%;
}
.cd{
  width: 600px;
  height: 600px;
  border-radius: 50%;
  margin: 0 auto;
  margin-top: 20%;
  position: relative;
  bottom: 50px;
}
.cd_b{
  width: 100%;
  height: 100%; 
}
.cd.active{
  animation: cd 20s linear infinite forwards;
}
.cd_g{
  width: 360px;
  height: 260px;
  position: absolute;
  left:10%;
  top: 4%;
  z-index: 10;
  transform-origin:0 0;
  animation: cga 0.5s linear forwards;
}
.cd_g.active{
  animation: cg 0.5s linear forwards;
}
.webPic{
  width: 300px;
  height: 300px;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -150px;
  margin-left: -150px;
  z-index: 10;
}

.name{
  display: flex;
  flex-direction: column;
  margin-left: 4%;
  color: $primaryText;
  font-size: 14px;
  margin-top: -20px;
}
.musicNa{
  margin-top: 5px;
  font-size: 13px;
}
@keyframes cd{
  to{
      transform: rotate(360deg)
  }
}
@keyframes cg{
  from{
      transform: rotate(0deg)
  }
  to{
      transform: rotate(-18deg)
  }
}
@keyframes cga{
  from{
      transform: rotate(-18deg)
  }
  to{
      transform: rotate(0deg)
  }
}

 
.bg{
width:100%;
height: 100%;
padding-bottom: 0;
margin-bottom: 0;
}
.abc{
display: flex;
justify-content: center;
}
// .title1 {
//   width: 70%;
//   line-height: 80px;
//   text-align: center;
//   text-overflow: ellipsis;
//   overflow: hidden;
//   white-space: nowrap;
//   font-size: 44px;
//   font-weight:500;
//   color: $primaryText;
//   position: absolute;
//   top: 50px;
// }

.player .normal-player .middle {
  position: fixed;
  width: 100%;
  top: 160px;
  bottom: 300px;
  white-space: nowrap;
  font-size: 0;
}
.player .normal-player .middle .middle-l {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 100%;
  height: 0!important;
  padding-top: 80%!important;
}
.player .normal-player .middle .middle-l .cd-wrapper {
  position: absolute;
  left: 15%;
  top: 0;
  width: 70%;
  height: 90%;
}
.player .normal-player .middle .middle-l .cd-wrapper .play {
  -webkit-animation-play-state: running !important;
  animation-play-state: running !important;
}
.player .normal-player .middle .middle-l .cd-wrapper .pause {
  -webkit-animation-play-state: paused!important;
  animation-play-state: paused!important;
}
.player .normal-player .middle .middle-l .cd-wrapper .cd {
width: 100%;
height: 100%;
border: 10px solid rgba(255,255,255,0.1);
border-radius: 50%;
  -webkit-animation: rotate 20s linear infinite;
  animation: rotate 20s linear infinite;
}
.player .normal-player .middle .middle-l .cd-wrapper .cd .image {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
@keyframes rotate{
  0% {
      transform: rotate(0)
  }
  100% {
      transform: rotate(360deg)
  }
}


> .paycell {
  //padding:0px 40px;
  background: transparent;
  height: 120px;
  line-height: 120px;
  //border-bottom: 1px solid #efefef;
  font-size: 32px;
  display: flex;
  justify-content: space-between;
  > .title {
    display: flex;
    align-items: center;
    margin-left: 40px;
    > text {
      padding-right: 10px;
    }
    > image {
      width: 40px;
      height: 40px;
    }
  }
  > .topup {
    color: white;
    height: 80px;
    line-height: 80px;
    padding:0px 50px;
    margin-right: 40px;
    margin-top: 26px;
    display: flex;
    align-items: center;
    background-image: url('https://assets.storiesmatter.cn/pay-green-bg.png');
      background-size: contain;
      background-position-y: center;
      background-repeat: no-repeat;
      // background-color: #abc88b;
      // border-radius:5px;
      // -moz-border-radius: 5px;
      // -webkit-border-radius: 5px;
    > image {
      width: 40px;
      height: 40px;
    }
    > text {
      padding-left: 10px;
    }
  }
}

.bottom1 {
  padding:0px 0px;
  width: 100%;
  margin: 0 auto;
  height: 120px;
  line-height: 120px;
  position: absolute;
   
  //bottom: 200px;
  > .column1 {
    margin: 40px;
    margin-top: 40px;
    height: 120px;
    line-height: 120px;
    font-size: 28px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .btn1 {
      // background: pink;
      max-height: 80px;
      height: 80px;
      line-height: 80px;
      padding:0px 20px;
      background-image: url('https://assets.storiesmatter.cn/pay-green-bg.png');
      background-size: 100% 80px;
      background-position-y: center;
      background-repeat: no-repeat;
      display: flex;
      align-items: center;
      justify-content: center;
      
      > image {
        width: 36px;
        height: 36px;
      }
      > text {
        margin: 20px;
        color: white;
        max-height: 80px;
        height: 80px;
        min-width: 120px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    > .btn2 { 
      background-image: url('https://assets.storiesmatter.cn/nomore.png'); 
    }
  }
}