@import '../_variable.scss';

.statement-list {
  background:transparent;
  margin-left: 42px;
  margin-bottom: 20px;
}

.cell {
  margin: 40px;
  font-size: 28px; 
  width: 100%;
}

.pay-container {
  display: flex;
  justify-content: center; 
  width: 100%;
  margin: 20rpx;
  .pay {
    width: 260rpx;
    height: 100rpx;
    justify-content: center; 
    display: flex;
    align-items: center;
    background-image: url("https://assets.storiesmatter.cn/payx2.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  .svg-demo-text {
    color: black;
    font-size: 28rpx; 
    align-items: center;
    justify-content: center; 
  } 	  
  // .icon-open-new {
  //   background-image: url("https://assets.storiesmatter.cn/me.png");
  //   background-size: cover;
  // } 	   
  .icon {
    display: inline-block;
    width: 50rpx;
    height: 50rpx;
  }
  
 }
 