@import '../_variable.scss';
.statement {
  display: flex;
  align-items: center;
  justify-content: space-between;
  //margin:0 10rpx;
  //border-bottom: 1rpx solid $borderColor;
  //padding:18rpx 0;
  color: $primaryText;
  height: 160rpx;
  line-height: 160rpx;
  //background: #efef11;
  .information {
    display: flex;
    align-items: center;
    flex: 1;
    margin-right: 42rpx;
    //background: #ef00ef;
  }
  .icon {
    margin-right: 16rpx;
    display: flex;
    align-items: center;
    background-image: url('https://assets.storiesmatter.cn/avatarbg.png');
    background-size: contain;
    background-position-y: center;
    background-repeat: no-repeat;
    image {
      width: 180rpx;
      height: 180rpx;
    }
  }
  .st-title {
    //background: #ef00ef;
    margin-right: 42rpx;
    > view { 
      margin-top:  0rpx;
      margin-bottom:  0rpx;
      padding:1rpx 0;
      line-height: 36rpx;
    }
    .title {
      font-size: 32rpx;
    }
    .time {
      color: $secondaryText;
      font-size: 26rpx;
    }
  }
  
}